/* regole base */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul,ol,menu{
    list-style: none;
}

/* CONTAINER */
.container{
    max-width: 900px;
    margin: 0 auto;
}

/* SLIDER */

.slider{
    position: relative;
}

/* SLIDER ITEMS */

.slide{
    display: none;
}
.slide.active{
    display: block;
}
.slide img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
    display: block;
}

/* ARROWS */
.arrows{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    color: BLACK;
}